body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{

  /* Colors */
  --text-white:#f2f2f2;
  --text-gray: #ddd;
  --text-blue: blue;
  --text-blue-light: rgb(27, 27, 252);

  /* Backgrounds */
  --bg-blue-dark: rgb(11, 7, 24);
}

.App{
  width: 100%;
  height: 100vh;
  background-color: var(--bg-blue-dark);
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  color: var(--text-white);
  scroll-behavior: smooth;
}

.App::-webkit-scrollbar {
  width: 0; 
  height: 0; 
  display: none;
}

.content{
  min-width: 100vw;
  height: 100vh;
}
