.home{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home h3{
 color: var(--text-purple);
 font-weight: 700;
 font-size: 6rem;
 text-align: center;
}

.home p{
 color: var(--text-white);
 font-weight: 500;
 font-size:2rem;
 text-align: center;
 max-width: 600px;
}

@media screen and (max-width:600px){
 .home h1{
   font-size: 4rem;
 }
 
 .home p{
   font-size:1.5rem;
 }
}

